.navbar {
  width: 125px; 
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 10px; 
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.cooks_corner_link {
  height: 110px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  padding-bottom: 30px; 
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--Text-faded);
  margin: 1rem 0;
}

.navbar_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
  flex-grow: 1;
  gap: 20px; 
  padding-left: 30px; 
}

.navbar_links > *:not(:first-child) {
  margin-top: 11px; 
}

.logout_button {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 10px;
  background: var(--Background);
  margin-top: auto; 
  margin-bottom: 100px; 
  align-self: flex-start; 
  margin-left: 30px; 
}

@media screen and (max-width: 425px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    position: static; 
    height: auto;
  }

  .cooks_corner_link {
    display: none;
  }

  hr {
    display: none;
  }

  .navbar_links {
    margin-top: 0;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar_links > * {
    margin-bottom: 0;
  }

  .logout_button {
    display: none;
  }
}


